{% extends 'CMBundle::layout.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-heading">
            <h2>{{ 'Review your %count% requests'|trans({'%count%': requests.getTotalItemCount }) }}</h2>
            <p></p>
        </div>
    
        <div class="box-body">

            <div class="objects">
                <ul class="media-list">
                    {{ include('CMBundle:Request:requestList.html.twig') }}
                </ul>
            </div>

{#
            <div class="tab-pane fade" id="outgoingRequests">
                <div class="objects">
                    <ul class="media-list">
                        {{ include('CMBundle:Request:requestOutgoingList.html.twig', {'requests': requestsOutgoing}) }}
                    </ul>
                </div>
            </div>
#}

        </div>
        
    </div>
{% endblock %}