{% extends 'CMBundle::layout.html.twig' %}

{% block body %}
    <h2>
        {#<?php echo image_tag('/images/glyphicons/globe') ?>
        <?php echo $sf_response->getTitle() ?>#}
    </h2>                                                                    
    
    
     
    <ul class="breadcrumb">
      {#<li><?php echo link_to('Home', '@homepage') ?></li>
      <li class="active"><?php echo __($sf_response->getTitle()) ?></li>#}
    </ul>

    <div class="objects-container">
        
        <ul class="nav nav-tabs">
          <li class="active"><a href="#incomingRequests" data-toggle="tab"><i class="glyphicon glyphicon-bell"></i> {{ 'Incoming requests' | trans }}</a></li>
          <li><a href="#outgoingRequests" data-toggle="tab"><i class="glyphicon glyphicon-share-alt"></i> {{ 'Outgoing requests' | trans }}</a></li>
        </ul>

        <div class="tab-content objects">

            <div class="tab-pane fade in active" id="incomingRequests">
                <div class="objects">
                    <ul class="media-list">
                        {{ include('CMBundle:Request:requestList.html.twig') }}
                    </ul>
                </div>
            </div>

            <div class="tab-pane fade" id="outgoingRequests">
                <div class="objects">
                    <ul class="media-list">
                        {{ include('CMBundle:Request:requestOutgoingList.html.twig', {'requests': requestsOutgoing}) }}
                    </ul>
                </div>
            </div>

        </div>
        
    </div>
{% endblock %}