{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent () }}

{% endblock %}

{% block locales %}
  <a href="{{ path('user_locale', {'_locale': "en" }) }}">En</a>
  <a href="{{ path('user_locale', {'_locale': "fr" }) }}">Fr</a>
  <a href="{{ path('user_locale', {'_locale': "it" }) }}">It</a>
{% endblock %}