<div class="bottom{# <?php $sf_request->getParameter('action') != 'show' && $sito->getLikesCommentsExpanded() == false and print ' well well-small' ?> #}">

    {% include('CMBundle::socialActions.html.twig') %}

    <span class="pull-right">
        {% include('CMBundle:Like:likeCount.html.twig') %}
        {% include('CMBundle:Comment:commentCount.html.twig') %}
    </span>

    {% set isImage = isImage|default(false) %}

</div>
