{% extends 'CMBundle::layout.html.twig' %}

{% block body %}

    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homepage') ?></li>
      <li><?php echo link_to(__('Users'), '@page_list') ?></li>
      <li class="active"><?php echo $page ?></li>
    </ul>#}


    <div class="box">

        <ul class="media-list objects">
            {{ include('CMBundle:Multimedia:multimediaList.html.twig') }}
        </ul>
    </div>
    

    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'pageFans', array('page' => $page)) ?>
    <?php end_slot() ?>#}
  
{% endblock %}