{% for multimedia in multimedias %}
    <ul class="media-list objects">
        {{ include('CMBundle:Multimedia:object.html.twig') }}
    </ul>
{% endfor %}

{% if multimedias.paginationData is defined and multimedias.paginationData.current < multimedias.paginationData.last %}
    <div class="well well-small" load_more>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({ 'page': multimedias.getPaginationData.next })) }}">{{ 'Load more' | trans }}</a>
    </div>
{% endif %}