{% extends 'CMBundle:Page:layout.html.twig' %}

{% block body %}
    {{ include('CMBundle:Page:top.html.twig', {'inPage': 'event'}) }}

    <div class='box'>
        {{ include('CMBundle:Event:objects.html.twig', {'page': pageNum}) }}
    </div>
{% endblock %}