{% extends 'CMBundle::layout.html.twig' %}

{% block body %}

    {{ include('CMBundle:Page:top.html.twig', {'inPage': 'image'}) }}


    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homepage') ?></li>
      <li><?php echo link_to(__('Pages'), '@page_list') ?></li>
      <li class="active"><?php echo $page ?></li>
    </ul>#}


    {{ include('CMBundle:ImageAlbum:imagesEntities.html.twig', {'publisher': page, 'publisherType': 'page'}) }}
    

    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'pageFans', array('page' => $page)) ?>
    <?php end_slot() ?>#}
  
{% endblock %}
