{% for page in pages %}

    <div class="media">

        {{ show_img_box(page|default_img|imagine_filter('medium'), {width: 150, box_attributes: {class: 'pull-left img-thumbnail'}}) }}

        <div class="media-body">
        
            <h4><a href="{{ path('page_show', {slug: page.getSlug}) }}">{{ page }}</a></h4>

            {{ page.biography|short_text({more: true}) }}

        </div><!-- END Media Body -->

    </div><!-- END Object -->

{% endfor %}