/.git/
/app/cache/
/app/config/parameters.yml
/app/config/parameters.yml.dist
/app/logs/
/app/Resources/node_modules/
/bin/
/build/
/src/CM/CMBundle/DataFixtures/MongoDB/
/src/CM/CMBundle/Document/
/src/CM/CMBundle/Resources/public/uploads/
!/src/CM/CMBundle/Resources/public/uploads/full
/vendor/
/web/bundles/
*.DS_Store
UPGRADE*
*~*