/.composer.lock
/.git/
/app/cache/
/app/config/parameters.yml
/app/config/parameters.yml.dist
/app/logs/
/app/Resources/node_modules/
/bin/
/build/
/office
/src/CM/CMBundle/DataFixtures/MongoDB/
/src/CM/CMBundle/Document/
/src/CM/CMBundle/Resources/public/uploads/*
!/src/CM/CMBundle/Resources/public/uploads/audio/
!/src/CM/CMBundle/Resources/public/uploads/banners/
!/src/CM/CMBundle/Resources/public/uploads/boxes/
!/src/CM/CMBundle/Resources/public/uploads/images/
/src/CM/CMBundle/Resources/public/uploads/images/*
!/src/CM/CMBundle/Resources/public/uploads/images/full/
/vendor/
/web/bundles/
*.DS_Store
UPGRADE*
*~*