{% set userLikesIt = post.userLikesIt(app.user, is_granted('ROLE_USER')) %}
{% set whoLikesIt = post.whoLikesIt(app.user, is_granted('ROLE_USER')) %}

{% if userLikesIt + whoLikesIt > 0 %}
    <a href="{{ path('who_likes_it', {'type': post | get_class_name | lower, 'id': post.id}) }}" class="modal-trigger bottom-like-count"><i class="glyphicon glyphicon-thumbs-up"></i> {{ userLikesIt + whoLikesIt }}</a>
{% else %}
    <span class="bottom-like-count"></span>
{% endif %}