<div class="media">

    {% set post = post.entity.post %}

    <div class="media-body">
    
        {{ include('CMBundle:'~(post.entity.post.object|class_name)~':post.html.twig') }}

    </div><!-- END Media Body -->

</div><!-- END Object -->