<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />            
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{% block icon %}{% endblock %}" />
    </head>
    
    <body>
        <div id="header">
            {% block header %}{% endblock %}
        </div>

        <div id="menu-container">
            {% block menu %}{% endblock %}
        </div>
      
        <div class="container">
            {% block container %}{% endblock %}
        </div> 

        <div class="container"> 
            <div id="footer">
                {% block footer %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}

    </body>
</html>
