<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />            
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{% block icon %}{% endblock %}" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    
    <body>
        <div id="header">
            {% block header %}{% endblock %}
        </div>

        <div id="menu-container">
            {% block menu %}{% endblock %}
        </div>
      
        <div class="container">
            {% block container %}{% endblock %}
        </div> 

        <div class="container"> 
            <div id="footer">
                {% block footer %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}

        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <div class="info">
                <h3 class="title"></h3>
                <span class="sequence"></span>
            </div>
            <div class="sidebar"></div>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <ol class="indicator"></ol>
        </div>

    </body>
</html>
