<div class="box box-system">
    <div class="box-heading">
        <h2>{{ icon('Users') }} {{ 'Last registered users'|trans }}</h2>
    </div>

    <div class="objects box-body square-images-grid clearfix">
        {% for user in lastUsers %}
            {{ show_img_box(user.img|imagine_filter('avatar'), {width: 50, offset: user.imgOffset, link: path('user_show', {'slug': user.slug}), publisher_box: user}) }}
        {% endfor %}
    </div>
</div>