{% if paginationData.current < paginationData.last %}
    <div class="well well-small" load_more load_more-callback="$wallLoad()">
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({page: paginationData.next })) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}