{% set inEntity = inEntity|default(false) %}

{% for post in posts %}
    <div class="box">
        {% set relatedObjects = related_object(post.object, post.objectIds) %}
        
        <div class="box-body">
            {{ include('CMBundle:Wall:post.html.twig', {updateMore: (loop.index == 1 and updateMoreLink is defined), relatedObjects: related_object(post.object, post.objectIds)})}}
        </div>
    </div>
{% endfor %}

{% if posts.paginationData is defined and posts.paginationData.current < posts.paginationData.last %}
    <div class="well well-small load_more">
        {% if slug is not defined %}{% set slug = null %}{% endif %}
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ 'page': posts.getPaginationData.next, 'slug': slug })) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}