{% set inEntity = inEntity|default(false) %}

{% for post in posts %}
    {{ include('CMBundle:Wall:post.html.twig', {updateMore: (loop.first and updateMoreLink|default(null) is not null)}) }}
{% endfor %}

{% if posts.paginationData is defined and posts.paginationData.current < posts.paginationData.last %}
    <div class="well well-small load_more">
        {% if slug is not defined %}{% set slug = null %}{% endif %}
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ 'page': posts.getPaginationData.next, 'slug': slug })) }}">{{ 'Load more'|trans }}</a>
    </div>
{% endif %}