{% extends 'CMBundle::layout.html.twig' %}

{% block title %}{{ '%user%&#39;s wall'|trans({'%user%': user}) }}{% endblock %}

{% block body %}
    <div data-ajax-url="{{ path('wall_user', {slug: user.slug}) }}"></div>
{% endblock %}