{% for link in links %}
    <ul class="media-list objects">
        {{ include('CMBundle:Link:object.html.twig') }}
    </ul>
{% endfor %}

{% if links.paginationData is defined and links.paginationData.current < links.paginationData.last %}
    <div class="well well-small load_more">
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({ 'page': links.getPaginationData.next })) }}">{{ 'Load more' | trans }}</a>
    </div>
{% endif %}