<div class="btn-group relations-menu">

    {{ include('CMBundle:Relation:buttonItem.html.twig') }}
    <ul class="dropdown-menu relation-menu-body">
        {% for relationType in relationTypes %}
            {{ include('CMBundle:Relation:item.html.twig') }}
        {% endfor %}
    </ul>

</div>