{% if comments | length > 0 %}
    {% if comments | length > 3 %}
        <li><a href="{# {{ path('post_show', {'post_id': post.id}) }} #}" class="comments-show_all">{{ 'View all %count% comments' | trans({'%count%': comments | length }) }}</a></li>
    {% endif %}

    {% for comment in comments %}
        {% set hide = (loop.index0 < comments | length - 3) %}
        {% include('CMBundle:Comment:comment.html.twig') %}
    {% endfor %}
{% endif %}

{% if is_granted('ROLE_USER') %}
    {% include('CMBundle:Comment:new.html.twig') %}
{% endif %}