{% if post.comments.count > 0 %}
    <a href="{# {{ path('post_show', {'post_id': postId}) }} #}" class="bottom-comment-count" >{{ icon('Comment') }} {{ post.comments|length }}</a>
{% else %}
    <span class="bottom-comment-count"></span>
{% endif %}