<li class="{# media comment comment_new<?php $comments->count() == 0 && $sf_request->getParameter('action') != 'show' and print ' hide' ?> #}">
    {# <?php show_img_box($sf_user->getAttribute('img', null, 'user'), array('width' => 32, 'height' => 32, 'offset' => $sf_user->getAttribute('img_offset', null, 'user'), 'default' => 'user', 'box_attributes' => array('class' => 'pull-left'))) ?> #}
    <div class="media-body">                        
        <form action="{{ path('comment_new', {'post_id': post.id}) }}" method="post">         
            {{ form_widget(form) }}
            {# <input type="submit" name="commit" value="<?php echo __('Send') ?>" class="pull-right btn btn-mini hide" /> #}
        </form>
    </div>
</li>