{{ events | length }}
{% for key, event in events %}
    
{#     <h2>{{ event.eventDates[0].start | date('Y/m/d') }}</h2> #}
    {{ include('CMBundle:Event:object.html.twig', { 'event': event } ) }}
    
{% endfor %}