<div class="media">

    <div class="media-body">
    
        <h4><a href="{{ path('user_biography', {'slug': post.user.getSlug}) }}">

        {{ entity_short_text(post.entity) | raw }}

    </div><!-- END Media Body -->

</div><!-- END Object -->