{% extends 'CMBundle::layout.html.twig' %}

{% block title %}{{ '%user%&#39;s biography'|trans({'%user%': user})|raw }}{% endblock %}

{% block bodyHeading %}
    {{ include('CMBundle:User:top.html.twig') }}
{% endblock %}

{% block body %}
    <div data-ajax-url="{{ path('user_biography', {slug: user.slug}) }}"></div>
{% endblock %}