<div class="box box-system">
    <div class="box-heading">
        <h2>{{ icon('Login') }} {{ 'Register'|trans }}</h2>
    </div>

    <div class="box-body">
        {{ render(controller('FOSUserBundle:Security:login', {template: 'CMBundle:Homepage:boxLogin.html.twig'})) }}
    </div>
</div>