<div class="box">
    <div class="box-heading">
        <h2>{{ 'Register'|trans }}</h2>
    </div>

    <div class="box-body">
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </div>
</div>