<div class="box">
    <div class="box-heading">
        <h2>{{ 'Box'|trans }}</h2>
    </div>

    <div class="objects box-body">
        {{ objects|length }}
        {% for object in objects %}
            {{ object|class_name }}
        {% endfor %}
    </div>
</div>