<div class="box post">
    <div class="box-heading">
        <h2>{{ icon('Sponsored') }} {{ 'Sponsored'|trans }}</h2>
    </div>

    <div class="box-body">
        {{ include('CMBundle:Wall:post.html.twig', {post: sponsored.entity.post}) }}
    </div>
</div>