<div class="box post">
    <div class="box-heading">
        <h2><span class="text-danger">{{ icon('Vip') }}</span> {{ 'Vip'|trans }}</h2>
    </div>

    <div class="box-body">
        {{ include('CMBundle:Wall:post.html.twig') }}
    </div>
</div>