<div class="box post">
    <div class="box-heading">
        <h2>{{ icon('Vip') }} {{ 'Vip'|trans }}</h2>
    </div>

    <div class="box-body">
        {{ include('CMBundle:Wall:post.html.twig') }}
    </div>
</div>