{% extends 'CMBundle::layout.html.twig' %}

{#{% set noColumns = true %}#}

{% block sidebar %}
<div id="columnRight">
    
    {{ render(controller('CMBundle:Homepage:events')) }}
    
    
    <a href="http://www.ilsipariomusicale.com" target="_blank"><img src="/uploads/banner/sipario_musicale_280x200.jpg" /></a>
    
    {#<?php //include_component('homepage', 'login') ?>#}
    
    {{ render(controller('CMBundle:Homepage:lastPosts')) }}

    {{ render(controller('CMBundle:Homepage:recent')) }}                                                         
    
    
    
    <div id="facebook_box" class="box">
        
        <h2>Facebook</h2>                     

        <div style="width: 238px; margin: auto;">
            <div class="fb-like-box" data-href="http://www.facebook.com/pages/Circuito-Musica/187291974677048" data-width="238" data-height="270" data-show-faces="true" data-stream="false" data-header="false" data-border-color="white"></div>      
        </div>
    
    </div>

    {{ render(controller('CMBundle:Homepage:writers')) }}                                                         

    
    <a href="http://www.orchestralparts.com/www/index.php" target="_blank"><img src="http://www.orchestralparts.com/banner/banner_280x200.jpg" /></a>


</div> 
{% endblock %}