<div id="box_accademia_scala" class="row box_home partner_box partner_box-full">
    
    <h2>Accademia Teatro alla Scala</h2> 
        
    <div class="partner_box-left">    
        <div class="article">
            <img src="/images/layout/pagine/homepage/box_accademia_teatro_alla_scala-1.jpg" />
            <h3>Open day 2012: primo appuntamento, lunedì 14 maggio.</h3>
            <h4>L'Accademia apre le sue porte i prossimi 14 maggio, 14 giugno, 10 luglio e 14 settembre.</h4>
        </div>
        <div class="article">
            <img src="/images/layout/pagine/homepage/box_accademia_teatro_alla_scala-2.jpg" />
            <h3>Allo Strehler lo spettacolo istituzionale della Scuola di Ballo.</h3>
            <h4>Sul palcoscenico del Teatro Strehler di Milano per l’annuale appuntamento con lo spettacolo istituzionale.</h4>
        </div>
        <div class="article">
            <img src="/images/layout/pagine/homepage/box_accademia_teatro_alla_scala-3.jpg" />
            <h3>Due nuove commissioni per il sestetto d'archi.</h3>
            <h4>Sabato 5 maggio si chiude la rassegna de "I concerti dell'Accademia" al Ridotto dei Palchi del Teatro alla Scala.</h4>
        </div>
    </div>

    <div class="partner_box-right">
        <h3>Ultime News</h3>
        <div class="partner_box-ticker">
            <div>
                <div class="oggetto"><a href="#">Prorogata l'audizione per coristi</a></div>                  
                <div class="oggetto"><a href="#">Open day 2012: primo appuntamento, lunedì 14 maggio</a></div>
                <div class="oggetto"><a href="#">Si conclude la IX edizione del MASP</a></div>
                <div class="oggetto"><a href="#">Allo Strehler lo spettacolo istituzionale della Scuola di Ballo</a></div>
                <div class="oggetto"><a href="#">Due nuove commissioni per il Sestetto d'archi</a></div>
          </div>
            <div>
                <div class="oggetto"><a href="#">Un concerto in Kuwait con due ex allievi dell'Accademia</a></div> 
                <div class="oggetto"><a href="#">Sostieni l'Accademia con il 5 per mille</a></div> 
                <div class="oggetto"><a href="#">Nuovo impegno scaligero per gli allievi dell'Accademia</a></div> 
                <div class="oggetto"><a href="#">Bruno Casoni dirige la Petite Messe Solennelle</a></div> 
                <div class="oggetto"><a href="#">Nuovo appuntamento in Scala con "I concerti dell'Accademia"</a></div> 
            </div> 
        </div>
    </div>     

</div>