<div id="photo_gallery-photos">
    {% for photo in photos %}

        {% if loop.index % 4 == 0 %}
            </div><div class="photo_gallery-photos"> 
        {% endif %}   
        
        <a href="{{ path('homepage_photo', {'id': photo.id}) }}" rel="wijlightbox[photos]" class="photo_gallery-photo-link">
            {{ show_img_box(photo.img|imagine_filter('medium'), {'width': 150, 'height': 90, 'box_attributes': {'class': 'photo_gallery-photo'}, 'default': 'user'}) }}
        </a>  
        <!--<a href="/uploads/immagini/<?php echo $photos[$i]->getImg() ?>" rel="wijlightbox[photos]"><img src="/uploads/immagini/180/<?php echo $photos[$i]->getImg() ?>" /></a>-->
    {% endfor %}                                                                                  
</div>