<?php $imgsize = @getimagesize('uploads/immagini/'.$photo->getImg()) ?>
      


<div class="oggetto elemento">                                            

    <div><?php echo image_tag('/uploads/immagini/'.$photo->getImg(), array('width' => $imgsize[0], 'height' => $imgsize[1])) ?></div>

    <p class="centrato"><?php echo $photo->getDescrizione() ?></p>

    <?php include_partial('global/bottom', array('oggetto' => $photo)) ?>     

</div>