<div id="photo_gallery" class="row box_home box_home-full">  

	<h2>{{ 'Photo Gallery'|trans }}</h2>
  
	<div id="photo_gallery-photos-container">
        {{ include('CMBundle:Homepage:photoGalleryPhotos.html.twig') }}
  </div>

	<a href="#" id="photo_gallery-prev" class="box_home-prev"></a>
	<a href="#" id="photo_gallery-next" class="box_home-next"></a>                                             

</div>