<div class="oggetto elemento">
    
    <h3><?php echo $video->getTitolo() ?></h3>
    <h4>di <?php echo link_to($video->getUser(), $video->getUser()->getLinkShow()) ?></h4>

    <div style="width: 525px; height: 344px; text-align:center; margin-bottom: 10px;">
        <?php if ($video->getTipo() == 'Audio' || $video->getTipo() == 'Video'): ?>
            <script type="text/javascript" src="/comune/player/mediaplayer-viral/swfobject.js"></script>     
 
            <script type="text/javascript">
                var so = new SWFObject('/comune/player/mediaplayer-viral/player-viral.swf','ply','470','320','9','#ffffff');
                so.addParam('allowscriptaccess','always');
                so.addParam('allowfullscreen','false');
                so.addParam('wmode','opaque');
                so.addParam('flashvars','&file=/uploads/multimedia/<?php echo $videos[$i]->getFile() ?>&image=/uploads/multimedia/425/<?php echo $videos[$i]->getImg() ?>&autostart=true&skin=/comune/player/modieus/modieus.swf');
                so.write('multimedia-audio-video');  
            </script>

        <?php elseif ($video->getTipo() == 'Video Youtube'): ?>
            <object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/<?php echo $video->getFile() ?>&hl=it&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/<?php echo $video->getFile() ?>&hl=it&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344" wmode="transparent"></embed></object>
        <?php endif ?> 
    </div> 
    
    <p class="centrato" style="width: 525px;"><?php echo $video->getDescrizione() ?></p>

    <?php include_partial('global/bottom', array('oggetto' => $video)) ?> 

</div>