<div id="video_gallery" class="row box_home box_home-full">  

    <h2>{{ 'Video Gallery'|trans }}</h2>
  
    <div id="video_gallery-videos-container">
        {{ include('CMBundle:Homepage:videoGalleryVideos.html.twig') }}
    </div>

    <a href="#" id="video_gallery-prev" class="box_home-prev"></a>
    <a href="#" id="video_gallery-next" class="box_home-next"></a>

</div>