html,
body,
#body {
    height: 100%;
    overflow: auto !important;
}
#menu-container {
    margin-bottom: 0;
}
#message-interface {
    background-color: #ffffff;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    height: 100%;
    min-height: 200px;
}
#conversations {
    height: 100%;
    overflow: hidden;
}
#conversation {
    overflow: hidden;
}
#messages {
    overflow-x: hidden;
    overflow-y: auto;
}
#messages .message {
    margin-top: 15px;
    margin-bottom: 5px;
}
#messages .message:first-child,
#messages .message-separator + .message {
    margin-top: 5px;
}
#messages .message-date {
    color: #bbbbbb;
    font-size: 11px;
}
#messages .message-separator {
    color: #bbbbbb;
    border-top: 1px solid #bbbbbb;
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
    height: 15px;
}
#messages .message-separator > span {
    background-color: #ffffff;
    position: relative;
    padding: 0 5px;
    top: -8px;
}
#messages .message .message-heading h2 {
    font-size: 15px;
    font-weight: bold;
    color: #aa0000;
    margin-bottom: 5px;
}
#messages .message .message-heading h2 > * {
    float: right;
    margin-right: 3px;
}
#message-new h3 {
    margin-top: 0;
}
#message-new textarea {
    resize: none;
}
#message-new .form-group {
    margin-bottom: 0;
}