/* UTILITY */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset;
}
body {
    overflow-y: scroll !important;
/*     -webkit-font-smoothing: antialiased; */
}
.fixed {
    position: fixed !important;
}



/* Bootstrap Fixes */
@media (min-width: 1500px) {
    .container {
        width: 1500px;
    }
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
        float: left;
    }
    .col-xl-12 {
        width: 100%;
    }
    .col-xl-11 {
        width: 91.66666666666666%;
    }
    .col-xl-10 {
        width: 83.33333333333334%;
    }
    .col-xl-9 {
        width: 75%;
    }
    .col-xl-8 {
        width: 66.66666666666666%;
    }
    .col-xl-7 {
        width: 58.333333333333336%;
    }
    .col-xl-6 {
        width: 50%;
    }
    .col-xl-5 {
        width: 41.66666666666667%;
    }
    .col-xl-4 {
        width: 33.33333333333333%;
    }
    .col-xl-3 {
        width: 25%;
    }
    .col-xl-2 {
        width: 16.666666666666664%;
    }
    .col-xl-1 {
        width: 8.333333333333332%;
    }
    .col-xl-pull-12 {
        right: 100%;
    }
    .col-xl-pull-11 {
        right: 91.66666666666666%;
    }
    .col-xl-pull-10 {
        right: 83.33333333333334%;
    }
    .col-xl-pull-9 {
        right: 75%;
    }
    .col-xl-pull-8 {
        right: 66.66666666666666%;
    }
    .col-xl-pull-7 {
        right: 58.333333333333336%;
    }
    .col-xl-pull-6 {
        right: 50%;
    }
    .col-xl-pull-5 {
        right: 41.66666666666667%;
    }
    .col-xl-pull-4 {
        right: 33.33333333333333%;
    }
    .col-xl-pull-3 {
        right: 25%;
    }
    .col-xl-pull-2 {
        right: 16.666666666666664%;
    }
    .col-xl-pull-1 {
        right: 8.333333333333332%;
    }
    .col-xl-pull-0 {
        right: 0%;
    }
    .col-xl-push-12 {
        left: 100%;
    }
    .col-xl-push-11 {
        left: 91.66666666666666%;
    }
    .col-xl-push-10 {
        left: 83.33333333333334%;
    }
    .col-xl-push-9 {
        left: 75%;
    }
    .col-xl-push-8 {
        left: 66.66666666666666%;
    }
    .col-xl-push-7 {
        left: 58.333333333333336%;
    }
    .col-xl-push-6 {
        left: 50%;
    }
    .col-xl-push-5 {
        left: 41.66666666666667%;
    }
    .col-xl-push-4 {
        left: 33.33333333333333%;
    }
    .col-xl-push-3 {
        left: 25%;
    }
    .col-xl-push-2 {
        left: 16.666666666666664%;
    }
    .col-xl-push-1 {
        left: 8.333333333333332%;
    }
    .col-xl-push-0 {
        left: 0%;
    }
    .col-xl-offset-12 {
        margin-left: 100%;
    }
    .col-xl-offset-11 {
        margin-left: 91.66666666666666%;
    }
    .col-xl-offset-10 {
        margin-left: 83.33333333333334%;
    }
    .col-xl-offset-9 {
        margin-left: 75%;
    }
    .col-xl-offset-8 {
        margin-left: 66.66666666666666%;
    }
    .col-xl-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-xl-offset-6 {
        margin-left: 50%;
    }
    .col-xl-offset-5 {
        margin-left: 41.66666666666667%;
    }
    .col-xl-offset-4 {
        margin-left: 33.33333333333333%;
    }
    .col-xl-offset-3 {
        margin-left: 25%;
    }
    .col-xl-offset-2 {
        margin-left: 16.666666666666664%;
    }
    .col-xl-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-xl-offset-0 {
        margin-left: 0%;
    }
}
a {
    color: #aa0000;
}
a:hover,
a:focus {
    color: #333333;
    text-decoration: none;
}
.btn-toolbar {
    margin-top: 0px;
}  
form textarea[expandable].form-control {
    height: 300px;
}
form textarea[expandable="small"].form-control {
    height: 34px;
}
a.text-success:focus {
    color: #2b542c;
}
a.text-warning:focus {
    color: #66512c;
}
.text-danger {
    color: #aa0000;
}
a.text-danger:focus {
    color: #843534;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #660000;
}
.nav-tabs>.active>a,
.nav-tabs>.active>a:hover,
.nav-tabs>.active>a:focus,
.nav-tabs>li>a:hover, 
.nav-tabs>li>a:focus {
    border: 1px solid #bbbbbb;
    border-bottom-color: transparent;
    background: #ffffff;
}
.nav > li > a {
    color: #404040;
}
.nav > li > a > span.glyphicon,
.nav > li > a > span.glyphicons {
    width: 20px;
}
.dropdown-menu .disabled > span {
    color:#999999;
}
.typeahead li {
    margin: 0px;
}
.typeahead li > a {
    padding: 3px 8px;
}
#protagonists .typeahead li > a
{
    float: left;
    width: 100%;
}
.typeahead img {
    margin-right: 10px;
    width: 32px;
}
.typeahead h3 {
    color: #333333;
    line-height: 20px;
}
.typeahead li.active h3,
.typeahead li a:hover h3 {
    color: #ffffff;
}
.popover {
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.popover .popover-content {
    color: #333333;
    font-size: 14px;
    text-shadow: none;
}
.popover h3.popover-title {
    font-variant: normal;
}
.popover .popover-footer {
    border-top: 1px solid #dddddd;
    padding: 5px 0px;
    background-color: #f7f7f7;
}
.dropdown-menu li a.btn {
    display: inline;
}
.glyphicons { 
    padding: 0 2px 0 0; 
    top: -3px;
    line-height: 1;
    font-style: normal;
    font-weight: normal;
    color: inherit;
}
.glyphicons:before { 
    position: relative;
    font-family: 'Glyphicons Regular';
    font-size: inherit; 
    margin: 0;
    color: inherit;
}
.media h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.btn.btn-default.active span.glyphicon,
.btn.btn-default.active span.glyphicons {
    color: #990000;
}
a.btn:hover {
    text-decoration: none !important;
}
.form-group {
    margin-bottom: 10px;
}
.radio,
.checkbox {
    margin-top: 7px;
    margin-bottom: 7px;
}
.modal .modal-footer {
    margin-top: 0;
}
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    padding: 15px;
}
label.control-label {
    font-weight: bold;
}
label.radio-inline.control-label {
    padding-left: 0;
}
form .thumbnail {
    margin-bottom: 10px;   
}
/*
table.table {
    margin: 20px 0 0;
}
table.table:first-child {
    margin: 0;
}
*/
.well {
    background-image: none;
}



/* FILEINPUT FIXES */
form .fileinput {
    margin-bottom: 0;
}



/* jQuery UI fixies */
.ui-corner-all {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}
.ui-menu {
    padding: 0;
}
.ui-menu .ui-menu-item a:hover {
    background: #efefef;
    border: 1px solid #bbbbbb;
}
.ui-menu .ui-menu-item a.ui-state-focus, 
.ui-menu .ui-menu-item a.ui-state-active {
    background: #f7f7f7;
    border: none;
    margin: 0;
}


/* LAYOUT */
[load_more_container] {
    overflow-y: scroll;
}
[load_more] {
    margin-top: 20px;
    clear: both;
    float: none;
    text-align: center;
}
[load_more] a {
    display: block;
}
#body.fixed {
    width: 100%;
}
#menu.fixed {
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    -webkit-transform: translateZ(0); /* Opera, Chrome, and Safari */
        -ms-transform: translateZ(0); /* IE 9 */
            transform: translateZ(0);
}
form textarea[expandable] {
    resize: none;
}
.margin-bottom {
    margin-bottom: 20px;
}


/* TOGGLE HIDDEN  DATA-TOGGLE */
[data-toggle-hover]:hover [data-toggle]
{
    visibility: visible;
}



/* IMAGE BOX */
.image_box {
    display: block;
    position: relative;
    overflow: hidden;
}
.image_box img 
{ 
    position: absolute;
    top: 0px;
    left: 0px;
}
.image_box.pull-left 
{
    margin-right: 10px;
}
#blueimp-gallery {
    margin-right: 300px;
}
#blueimp-gallery a {
    color: #ffffff;
}
#blueimp-gallery-container .blueimp-gallery, .blueimp-gallery>.slides>.slide>.slide-content {
    -webkit-transition: opacity .0001s linear;
       -moz-transition: opacity .0001s linear;
        -ms-transition: opacity .0001s linear;
         -o-transition: opacity .0001s linear;
            transition: opacity .0001s linear;
}
#blueimp-gallery-container .info {
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    height: 44px;
    width: 88px;
    margin: 0 auto;
}
#blueimp-gallery-container .title {
    line-height: 44px;
    position: absolute;
    right: 88px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#blueimp-gallery-container .prev-container,
#blueimp-gallery-container .next-container {
    position: absolute;
    height: 44px;
    width: 44px;
}
#blueimp-gallery-container .prev,
#blueimp-gallery-container .next {
    display: block;
    color: #ffffff;
    font-size: 20px;
    line-height: 44px;
}
#blueimp-gallery-container .next-container {
    left: 44px;
}
#blueimp-gallery-container .sequence {
    line-height: 44px;
    position: absolute;
    left: 88px;
    padding: 0 10px;
    white-space: nowrap;
}
#blueimp-gallery-container .slide-content {
    padding: 35px;
}
#blueimp-gallery-container .sidebar {
    display: none;
    position: fixed;
    width: 300px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #fff;
    z-index: 100100;
    padding: 15px;
    overflow-y: scroll;
}
#blueimp-gallery-container .sidebar .image-description {
    margin-top: 10px;
    margin-bottom: 10px;
}
#blueimp-gallery-container .close {
    left: 15px !important;
    right: auto !important;
}



/* ENTITIES */
.entity-assets {
    margin: 6px -3px 0;
}
.entity-assets .entity-asset {
    float: left;
    padding: 0 3px;
    width: 33.33333%;
}
.entity-protagonists {
    margin-bottom: 0px;
}
.entity-protagonists .entity-protagonist {
    margin-top: 10px;
}
.entity-protagonists .entity-protagonist:first-child {
    margin-top: 0;
}
/* event */
.event-date-map {
    position: relative;
    border: 1px solid #bbbbbb;
    margin: 0 -15px;
    overflow: hidden;
}
.event-date-map .event-date-map-img {
    float: right;
    min-width: 100%;
    position: relative;
    right: 50%;
}
.event-date-map .event-date-map-img > img {
    min-width: 100%;
    min-height: 100px;
    max-width: none;
    position: relative;
    right: -50%;
}
.event-date-map .btn {
    position: absolute;
    right: 10px;
    top: 27px;
}



/* OBJECT */
.objects {
    position: relative;
}
.object,
.object.object-following {
    margin-top: 15px;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    position: relative;
}
.object:first-child {
    margin-top: 0px;
    border-top: none;
    padding-top: 0px;
}
.object h3 {
    margin-top: 0px;
}
.object h4 {
    margin-top: 0px;
}
.objects .caption,
.object .caption {
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 11px;
    line-height: 13px;
}
/*
.object.object-xxlarge h3
{
    font-size: 26px;
    line-height: 28px;
}
.object.object-xxlarge h4
{
    font-size: 16px;
    line-height: 20px;
}
.object.object-xxlarge h5
{
    font-size: 13px;
    line-height: 17px;
}
.object.object-xxlarge .image_box
{
    margin-bottom: 10px;
}
.object.object-detail
{
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}
.object.object-detail h3
{
    font-size: 22px;
    line-height: 30px;
    font-variant: small-caps;
}
.object.object-detail p
{
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 8px;
}
.object.object-detail li.bottom-likes
{
  padding: 9px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
*/
/* Bottom */
.object .bottom ul.triangle:before
{
  content: '';
  position: absolute;
  left: 10px;
    top: -5px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #efefef transparent;
    _border-color: #000000 #000000 #efefef #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.object .bottom ul
{
    position: relative;
    clear: both;
}
.object .bottom ul li,
.object .bottom ul li.media
{
    padding: 5px;
    background-color: #f5f5f5;
    margin-top: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* Bottom comment */
.object .bottom ul li.comment .close
{
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}
.box .box-footer .bottom form .comment {
/*     margin-top: 10px; */
}
.box form input.comment,
.box form textarea.comment {
    height: 40px;
    line-height: 1;
}
.box .box-footer .bottom form input.comment,
.box .box-footer form textarea.comment {
    padding: 6px 10px 4px;
    height: 34px;
    font-size: 13px;
    line-height: 1.4;
    resize: none;
}



/* BOX */
.box {
    color: #404040;
    background: #ffffff;
    border: 1px solid #cccccc;
    position: relative;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), -1px 1px 5px rgba(0, 0, 0, 0.06);
       -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), -1px 1px 5px rgba(0, 0, 0, 0.06);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), -1px 1px 5px rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
/*
.box a {
    color: #404040;
}
*/
/*
.box:hover a.btn {
    color: #333333;
}
*/
.box .box-heading {
    background: #f7f7f7;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 5px 14px;
    -webkit-border-top-left-radius: 3px;
       -moz-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
       -moz-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
}
.box .box-heading:first-child {
    border-top: none;
}
.box .box-heading.box-heading-big {
    padding: 14px 14px 5px;
}
.box .box-heading.box-heading-big h2 {
    margin-bottom: 9px;
    font-size: 26px;
}
.box .box-heading h2 {
    max-width: 100%;
    margin: 3px 0;
    font-size: 20px;
}
.box .box-heading h2 a, 
.box .box-heading h3 a {
    color: #333333;
}
.box .box-heading h2 span.glyphicon,
.box .box-heading h2 span.glyphicons {
    vertical-align: 1px;
    font-size: 15px;
}
.box .box-heading h2 small {
    font-size: 12px;
    margin-top: 8px;
    float: right;
}
.box .box-heading h2 small span.glyphicon,
.box .box-heading h2 small span.glyphicons {
    font-size: inherit;
}
.box .box-heading h3 {
    line-height: 30px;
    margin: 0;
    font-size: 14px;
}
.box .box-heading h3 small {
    font-size: 12px;
}
.box .box-heading h3 span.glyphicon,
.box .box-heading h3 span.glyphicons {
    vertical-align: baseline;
    font-size: 12px;
}
.box .box-heading .nav li {
    float: left;
    margin-right: 20px;
}
.box .box-heading .nav li a,
.box .box-heading .nav li a:hover,
.box .box-heading .nav li a:focus {
    background: transparent;
    position: relative;
    float: left;
    padding: 0 0 10px;
}
.box .box-heading .nav li.active a:before {
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -10px;
    display: block;
    content: '';
    border-color: transparent transparent #dddddd;
    border-style: solid;
    border-width: 10px;
}
.box .box-heading .nav li.active a:after {
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -9px;
    display: block;
    content: '';
    border-color: transparent transparent #ffffff;
    border-style: solid;
    border-width: 9px;
}
.box .box-body {
    padding: 14px;
}
.box .box-footer {
    border-top: 1px solid #e5e5e5;
    background-color: #f7f7f7;
    padding: 14px;
    margin: 0;
    -webkit-border-bottom-left-radius: 3px;
       -moz-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
       -moz-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
}



/* POST */
.post .post-heading {
    margin-bottom: 15px;
}
.post .post-heading h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.post .post-content {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 15px;
}
.post .post-content a.pull-left {
    margin-right: 15px;
}
.post .post-content a.pull-left > img {
    width: 120px;
}
@media (min-width: 1500px) {
    .post .post-content a.pull-left > img {
        width: 150px;
    }
}
.post .post-image-container {
    margin: 0 -14px 10px;
    background: #efefef;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}
.post .post-image-container img {
    margin: 0 auto;
    max-height: 600px;
}
.post:hover a {
    color: #aa0000;    
    -webkit-transition: color 0.3s;
       -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
         -o-transition: color 0.3s;
            transition: color 0.3s;
}
.post a:hover {
    text-decoration: underline;
}
.post:hover,
.box-system:hover {
    border-color: #aaaaaa;    
    -webkit-transition: border-color 0.3s;
       -moz-transition: border-color 0.3s;
        -ms-transition: border-color 0.3s;
         -o-transition: border-color 0.3s;
            transition: border-color 0.3s;
}
/* Box System */
.box-system {
    background-color: #f5f5f5;
}
.box-system .box-heading {
    border: none;
    background: transparent;
/*     margin-top: 10px; */
}
.box-system h3 {
    font-size: 14px;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.box-system .object {
    margin-top: 10px;
    padding-top: 10px;
}
.box-system .object:first-child {
    margin-top: 0px;
    padding-top: 0px;
}
/* Box Partner */
#wall .box-partner {
    background-color: #f5f5f5;
    margin-top: 40px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
#wall .box-partner h2 {
    top: -18px;
    font-size: 15px;
    position: absolute;
    height: 40px;
    width: 100%;
    text-shadow: none;
    text-transform: uppercase;
    padding: 0 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}
#wall .box-partner h2 img.img-responsive {
    display: inline;
}
@media (min-width: 1200px) {
    #wall .box-partner h2 {
        top: -23px;
        font-size: 20px;
    }
}
#wall .box-partner h2 small {
    text-transform: none;
    color: #404040;
    font-weight: normal;
}
#wall .box-partner h2 a {
    color: #404040;
}
#wall .box-partner h2.box-partner-logo {
    height: 40px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    top: -22px;
    background-position: 15px top;
}
#wall .box-partner .box-partner-heading {
    font-size: 16px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 8px;
    font-family: Georgia,'Times New Roman',serif;
    font-weight: normal;
    position: relative;
    line-height: 18px;
}
#wall .box-partner .box-partner-heading .box-partner-nav {
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 2;
}
#wall .box-partner .box-partner-heading .box-partner-nav .box-partner-nav-tab {
    width: 22px;
    height: 22px;
    border: 1px solid #bbbbbb;
    border-bottom: 1px solid #f5f5f5;
    float: left;
    margin-right: 2px;
    font-size: 12px;
    padding-top: 2px;
    cursor: pointer;
    text-align: center;
    color: #999999;
}                                                       
#wall .box-partner .box-partner-heading .box-partner-nav .box-partner-nav-tab:hover  
{          
    color: #aa0000;
	background-color: #ffffff;                     
	border: 1px solid #999999; 
	border-bottom: 1px solid #ffffff; 
}  
#wall .box-partner .box-body {
    padding: 13px;
}
#wall .box-partner .object {
    max-width: 100%;
    height: 305px;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@media (min-width: 1500px) {
    #wall .box-partner .object {
        height: 360px;
    }
}
#wall .box-partner .object a.image_box {
    max-width: 100%;
    margin-bottom: 5px;
}
#wall .box-partner .object h3 {
    font-family: Georgia;
    font-size: 18px;
    margin-bottom: 8px;
    line-height: 1.4;
    max-height: 50px;
    overflow: hidden;
}
#wall .box-partner .object h3 a {
    color: #333;
}
#wall .box-partner .object h4 {
    font-size: 13px;
    color: #999999;
    max-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#wall .box-partner .object h4 > span {
    margin-right: 5px;
}
.cycle-slide {
    width: 100%;
}
/* Banner */
#wall .banner {
    margin-bottom: 20px;
}
/* Post Multimedia */
.post .video-container {   
    position: relative;
}
.post .video-title-container {
    cursor: pointer;
    height: 120px;
    width: 100%;
    position: absolute;
}
.post .video-title-shadow {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.65) 0,rgba(0, 0, 0, 0));
    background-image:    -moz-linear-gradient(top,rgba(0, 0, 0, 0.65) 0,rgba(0, 0, 0, 0));
    background-image:         linear-gradient(top,rgba(0,0,0,.65) 0,transparent);
}
.post .video-title {
    position: absolute;
    z-index: 3;
    width: 100%;
    font-size: 16px;
    padding: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.post .video-button {
    background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/stream-c232dce6708c15a206f95e6a941a0409.png) -49px 0;
    cursor: pointer;
    height: 72px;
    left: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    top: 50%;
    width: 72px;
}
.post .video-title a,
.post .video-title a:hover,
#wall .box:hover .video-title a {
    color: #ffffff;
}


/* IMAGES GRID */
.square-images-grid > * {
    display: block;
    float: left;
    overflow: hidden;
}



/* FILE INPUT */
/*
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
*/



/* TYPEAHEAD FIXES */
.twitter-typeahead {
    width: 100%;
    position: relative;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width:100%;
    height: 34px;
    position: absolute;
    top:0;
    left:0;
}
.twitter-typeahead .tt-hint {
    color:#a1a1a1;
    z-index: 1;
    padding: 6px 12px;
    border:1px solid transparent;
}
.twitter-typeahead .tt-query {
    z-index: 2;
}

.tt-dropdown-menu {
    min-width: 160px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            0background-clip: padding-box;
    margin-top: 2px;
    width: 100%;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.img-rounded {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}


/* MESSAGES */
/*#recipients {
    padding: 2px;
    height: auto;
    min-height: 34px;
    overflow: hidden;
    vertical-align: top;
}
.recipient {
    background-color: #fcf3e9;
    border: 1px #d0d3c9 solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    height: 24px;
    padding: 0 5px;
    margin: 2px 2px;
    vertical-align: top;
}
.recipient .close {
    float: none;
}*/
/*form .bootstrap-tagsinput {
    border-radius: 0;
    cursor: text;
    font-size: 14px;
    height: 34px;
    line-height: inherit;
    margin: 0;
    padding: 6px 12px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
       -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.recipients_typeahead .twitter-typeahead .tt-query,
.recipients_typeahead .twitter-typeahead .tt-hint {
    height: 100%;
}
.recipients_typeahead .twitter-typeahead .tt-hint {
    padding: 0 !important;
}
.recipients_typeahead .twitter-typeahead {
    width: auto;
}
.recipients_typeahead .bootstrap-tagsinput {
    width: 100%;
}*/
.ui-autocomplete.ui-menu {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 150px;
    overflow-y: auto;
    z-index: 99999;
}



/* Publisher Popover */
.popover-publisher {
    padding: 0;
}
.popover-publisher .popover-content {
    padding: 0;
    text-align: center;
}
.popover-publisher .popover-publisher-content {
    padding: 0 10px;
}
.popover-publisher h2 {
    font-size: 24px;
    margin: 5px 0 5px;
}
.popover-publisher h3 {
    font-size: 14px;
    margin: 0 0 5px;
    color: #999999;
    height: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
}
.popover-publisher .popover-cover,
.popover-publisher .popover-cover-background {
    width: 274px;
    height: 106px;
    background: url(../../bundles/cm/images/layout/damascato_silver.jpg) repeat;
    border-bottom: 1px solid #cccccc;
}
.popover-publisher .popover-cover img {
    max-width: 100%;
}
.popover-publisher .popover-profile {
    width: 100px;
    margin: 0 auto -45px;
    top: -45px;
    position: relative;
    padding: 4px;
    border: 1px solid #cccccc;
    background: #ffffff;
}
.popover-publisher-biography {
    font-size: 12px;
    font-weight: 300;
}
.popover-publisher .popover-footer > * {
    padding: 0 5px;
}
.popover-publisher .popover-footer a:not(.text-success):not(.text-warning):not(.text-danger) {
    color: #333333;
}
.popover-publisher.top.logged .arrow:after {
    border-top-color: #f7f7f7 !important;
}



/* SPONSORED */
.events-sponsored h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/* Disc Detail */
.disc {
    position: relative;
    width: 140px;
    height: 180px;
    margin:10px;
    float: left;
}
.disc .disc-cover {
    margin-bottom: 5px;
}
.disc .disc-cover > a {
    position: relative;
    display: block;
    height: 140px;
    width: 100%;
}
.disc .disc-cover > a > img {
    border: 1px solid #bbbbbb;
    bottom: 0px;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
}
@media (min-width:1500px) {
    .disc {
        width: 146px;
    }
    .disc .disc-cover > a {
        height: 146px;
    }
}
.disc h3,
.disc h4 {
    font-size: 13px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.disc h3 {
    font-weight: bold;
}
.disc h3 a {
    color: #333333;
}
.disc h4 a {
    color: #999999;
}
.disc-content .box {
    margin: 10px 0;
}
.disc .disc-cover,
.disc .disc-cover > a,
.disc .disc-cover > a > img {
    -webkit-transition:all 0.2s ease-in-out;
       -moz-transition:all 0.2s ease-in-out;
         -o-transition:all 0.2s ease-in-out;
            transition:all 0.2s ease-in-out;
}
.disc.active:before {
    position: absolute;
    bottom: -21px;
    left: 50%;
    margin-left: -10px;
    display: block;
    content: '';
    border-color: transparent transparent #bbbbbb;
    border-style: solid;
    border-width: 10px;
    z-index: 999;
}
.disc.active:after {
    position: absolute;
    bottom: -21px;
    left: 50%;
    margin-left: -9px;
    display: block;
    content: '';
    border-color: transparent transparent #ffffff;
    border-style: solid;
    border-width: 9px;
    z-index: 999;
}
.disc.active .disc-cover {
    margin: -10px -10px 10px;
}
.disc.active .disc-cover > a {
    height: 160px;
}
@media (min-width:1500px) {
    .disc.active .disc-cover > a {
        height: 166px;
    }
}
.disc.active h4 {
    display: none;
}
.disc-content .box {
    margin-bottom: 0;
}
.audio-controls {
    color: #404040 !important;
    position: relative;
}
.audio-controls.active {
    color: #aa0000 !important;
    -webkit-transition: color 1s;
       -moz-transition: color 1s;
        -ms-transition: color 1s;
         -o-transition: color 1s;
            transition: color 1s;
}