/* LAYOUT */
body {
    background-color: #e5e5e5;
    font-family: Roboto,arial,sans-serif;
    font-size: 13px;
}
h2 {
    font-weight: 300;
    text-shadow: 0 1px 0 #ffffff;
    margin: 0 0 20px 0;
}
@media (max-width: 767px) {
    h2 {
        font-size: 24px;
    }
}
h2 a {
    color: #333333;
}
h2 a:hover {
    text-decoration: none;
}
h2 .glyphicon,
h2 .glyphicons {
    font-size: 22px;
}
h2 .glyphicons {
    vertical-align: 2px;
}
#header {
    background: url(../../bundles/cm/images/layout/header_bg.jpg) repeat-x;
    height:66px;
    position: relative;
    z-index: 1002; /* to hide menu transform animation */
}  
#footer {
    clear: both;
    border-top: 1px solid #cccccc;
    margin: 20px 0;
    padding-top: 10px;
    font-size: 12px;
}
.breadcrumb {
    background: none;
    padding: 0px;
}
h3 small {
    line-height: inherit;
}
h3 small a {
    color: #333333;
}
.heading-buttons {
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .heading-buttons {
        float: right;  
    }
}



/* MENU */
#menu-container {
    margin-bottom: 20px;
}
#menu {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    z-index:1001; 
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f8f8f8 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);
}
#menu > .container > ul {
    border-right:1px solid #cccccc;
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu > .container >  ul > li {
    margin-bottom: -1px;
    float: left;
}
#menu ul > li > a {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 38px;
    padding: 0 14px;
    border-left: 1px solid #cccccc;
    color: #737373;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
    display: block;
    position: relative;
}
#menu ul > li > a:hover {
    text-decoration: none;
}
/* Submenu */
#menu ul > li > ul > li > a {
    margin: 0 5px;
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
    border-left: none;
}
#menu ul > li > ul > li > a:hover {
    background: transparent;
    color: #990000;
}
/* Search bar */
#menu form.pull-right {
    padding: 2px 0;
}
#menu form.pull-right #search-bar {
    height: 32px;
    width: 350px;
}
/* Menu Left */
#menu ul.pull-left li.dropdown .dropdown-menu {
    border-top: none;
    margin: 0px -1px 0 0;
    padding: 0px;
    border-color: #cccccc;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity .218s,-webkit-transform .218s;
       -moz-transition: opacity .218s,-webkit-transform .218s;
        -ms-transition: opacity .218s,-webkit-transform .218s;
         -o-transition: opacity .218s,-webkit-transform .218s;
            transition: opacity .218s,transform .218s;
    -webkit-transform: translate3d(0,-5px,0);
       -moz-transform: translate3d(0,-5px,0);
        -ms-transform: translate3d(0,-5px,0);
         -o-transform: translate3d(0,-5px,0);
            transform: translate3d(0,-5px,0);
}
#menu ul.pull-left > li.dropdown.open > a {
    background: #ffffff;
}
#menu ul.pull-left li.dropdown.open .dropdown-menu {
    opacity: 1;
    height: auto;
    -webkit-transform: translate3d(0,0,0);
       -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
         -o-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}
#menu ul.pull-left li.dropdown #menu-popup {
    border: none;
    margin: 0;
    z-index: 1001;
    top: -1px;
}
#menu ul.pull-left li.dropdown.open #menu-popup {
    padding: 9px 0;
    border: 1px solid #cccccc;
}
#menu ul.pull-left li.dropdown #menu-popup > li > a {
    width: 213px;
    margin: 0;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    line-height: 20px;
    color: #777777;
}
#menu ul.pull-left li.dropdown #menu-popup > li > a:hover {
    color: #333333;
    background: #f7f7f7;
}
#menu ul.pull-left li.dropdown #menu-popup span.glyphicon,  
#menu ul.pull-left li.dropdown #menu-popup span.glyphicons {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: sub;
    color: #333333;
}
/* Menu Right */
#menu ul.pull-right {
    margin-left: 14px;
}
#menu ul.pull-right li.dropdown.open > a {
    background-color: #f2f2f2;
    border-bottom: transparent;
} 
#menu ul.pull-right li.dropdown .dropdown-menu {
    width: 450px;
    padding: 0;
    margin: 0;
    right: -1px;
    left: auto;
    border-top: none;
    border-color: #cccccc;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-header {
    background:#f2f2f2;
    border-bottom:1px solid #cccccc;
    padding: 8px;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-header h3 {
    color: #333333;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
    font-variant: normal;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-body {
    font-size: 12px;
    max-height: 350px;
    overflow-y: auto;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-body .dropdown-menu-loader {
    text-align:center;
    padding: 15px;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-body [load_more] {
    margin: 5px 10px;
    padding: 4px;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-body .object {
    margin: 0;
    padding: 5px 10px;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-body .object.unread {
    background: #f7f7f7;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-body .object:hover {
    background: #f7f7f7;
}
#menu ul.pull-right li.dropdown .dropdown-menu .dropdown-menu-body .dropdown-menu-loader {
    text-align:center;
}
#menu ul.pull-right .dropdown-menu-footer {
    border-top:1px solid #cccccc;
    background:#f7f7f7;
}
#menu ul.pull-right .dropdown-menu-footer a {
    display:block;
    padding:8px;
    text-align:center;
    font-size:11px;
    font-weight:bold;
} 
#menu ul.pull-right > li a > span.countNew  { 
    font-family: Roboto,arial,sans-serif;
    display: block;
    background: #cc0000;
    position: absolute;
    top: 3px;
    left: 22px;
    padding: 1px 3px;
    color: #ffffff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    line-height: 12px;
    font-size: 9px;
} 
#menu ul.pull-right > li a > span.countNew:empty  { 
    display: none;
}
/* Menu Login */ 
#menu ul.pull-right li.dropdown.open a {
    background: #ffffff;
}
#menu ul.pull-right li.dropdown .login-dropdown-menu {
    padding: 14px;
}
@media (min-width: 992px) {
    #menu ul.pull-right li.dropdown .login-dropdown-menu {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    #menu ul.pull-right li.dropdown .login-dropdown-menu {
        width: 1180px;
    }
}
@media (min-width: 1500px) {
    #menu ul.pull-right li.dropdown .login-dropdown-menu {
        width: 1480px;
    }
}
#menu ul.pull-right li.dropdown .login-dropdown-menu .dropdown-menu-body {
    max-height: initial;
}              
/*.menuTab ul li.menuTab-element-new
{              
    background:#ffffe0;
}                    
.menuTab ul li.menuTab-element-unread
{              
    background:#fcfcfc;
} 



/* FORM */
form label.required:after {
    color: #cc0000;
    content: ' *';
    display:inline;
    white-space: nowrap;
}
form textarea:not([comment_new]) {
    max-width: 100%;
}
.protagonist_typeahead .alert {
    margin-bottom: 0;
}
form .well {
    margin-bottom: 15px;
}



.shadow {
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
       -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
}



/* USER */
.profile-header {
    margin-bottom: 20px;
    border: 1px solid #bbbbbb;
}
.profile-header .profile-header-row {
    background: url(../../bundles/cm/images/layout/damascato_silver.jpg) repeat;
    position: relative;
}
.profile-header .profile-header-row .profile-header-info {
    margin-top: -80px;
    padding: 10px;
    text-align: center;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}
.profile-header .profile-header-row .profile-header-info .profile-header-picture {
    margin: 0 auto 15px;
    width: 130px;
    position: relative;
}
.profile-header .profile-header-row .profile-header-info h2 {
    font-size: 22px;
    margin: 0 0 10px;
}
.profile-header .profile-header-row .profile-header-info h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 15px;
}
.profile-header .profile-header-row .profile-header-cover .profile-header-buttons {
    position: absolute;
    bottom: 10px;
    right: 0px;
    padding: 0 10px;
    width: 100%;
    text-align: right;
}
.profile-header .profile-header-row .profile-header-cover .profile-header-buttons .btn-group {
    display: inline-block;
    float: none;
    text-align: left;
}
.profile-header .profile-header-row .profile-header-cover .profile-header-buttons .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.profile-header .profile-header-row .profile-header-cover .profile-header-buttons .dropdown-menu {
    left: auto;
    right: 0;
}
@media (max-width: 1199px) {
    .profile-header .profile-header-row .profile-header-info h2,
    .profile-header .profile-header-row .profile-header-info h3,
    .profile-header .profile-header-row .profile-header-info .profile-header-cities {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .profile-header .profile-header-row .profile-header-info .profile-header-picture {
        margin: 0 auto 10px;
        width: 85px;
    }
    .profile-header .profile-header-row .profile-header-info .profile-header-picture .image_box {
        width: 75px !important;
        height: 75px !important;
    }
    .profile-header .profile-header-row .profile-header-info h2 {
        font-size: 20px;
    }
    .profile-header .profile-header-row .profile-header-info h2,
    .profile-header .profile-header-row .profile-header-info h3,
    .profile-header .profile-header-row .profile-header-info .profile-header-cities {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
@media (min-width: 768px) {
    .profile-header .profile-header-row {
        height: 202px;
    }
    .profile-header .profile-header-row .profile-header-info {
        width: 243px;
        height: 202px;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        border-right: 1px solid #bbbbbb;
    }
    .profile-header .profile-header-row .profile-header-cover {
        width: 485px;
        height: 202px;
        position: absolute;
        top: 0;
        right: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.15) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
    }
}
@media (min-width: 992px) {
    .profile-header .profile-header-row {
        height: 260px;
    }
    .profile-header .profile-header-row .profile-header-info {
        width: 313px;
        height: 260px;
    }
    .profile-header .profile-header-row .profile-header-cover {
        width: 625px;
        height: 260px;
    }
    .profile-header .profile-header-row .profile-header-info h2 {
        font-size: 26px;
    }
}
@media (min-width: 1200px) {
    .profile-header .profile-header-row {
        height: 327px;
    }
    .profile-header .profile-header-row .profile-header-info {
        width: 393px;
        height: 327px;
    }
    .profile-header .profile-header-row .profile-header-cover {
        width: 785px;
        height: 327px;
    }
}
@media (min-width: 1500px) {
    .profile-header .profile-header-row {
        height: 410px;
    }
    .profile-header .profile-header-row .profile-header-info {
        width: 493px;
        height: 410px;
    }
    .profile-header .profile-header-row .profile-header-cover {
        width: 985px;
        height: 410px;
    }
    .profile-header .profile-header-row .profile-header-info {
        padding-top: 25px;
    }
    .profile-header .profile-header-row .profile-header-info .profile-header-picture,
    .profile-header .profile-header-row .profile-header-info h2,
    .profile-header .profile-header-row .profile-header-info h3 {
        margin-bottom: 25px;
    }
    .profile-header .profile-header-row .profile-header-info .profile-header-picture {
        width: 160px;
    }
    .profile-header .profile-header-row .profile-header-info .profile-header-picture .image_box {
        width: 150px !important;
        height: 150px !important;
    }
    .profile-header .profile-header-row .profile-header-info h2 {
        font-size: 32px;
    }
    .profile-header .profile-header-row .profile-header-info h3 {
        font-size: 20px;
    }
    .profile-header .profile-header-row .profile-header-info p {
        font-size: 14px;
    }
}
.profile-menu {
    height: 45px;
    text-align: center;
    border-top: 1px solid #bbbbbb;
    background: #ffffff;
    white-space: nowrap;
}
.profile-menu a {
    line-height: 45px;
    color: #333333;
    padding: 14px 10px 11px;
}
.profile-menu a:hover,
.profile-menu a.active {
    border-bottom: 3px solid #990000;
}



/* IMAGES */
.images {
	margin: 0 -1px !important;
}
.images > .object > a {
  opacity: 0; 
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
}
.images:hover > .object > a {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.images > .object > a:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.images-sortable .image a {
    cursor: move;
}
.images .album,
.images .image {
    width: 185px; 
    height: 185px;
    margin: 2px 2px 2px 1px;
    float: left;
    position: relative;
}
.images .album,
.images .album .image-container {
    position: relative;
    height: 247px;
}
.images .image,
.images .image .image-container {
    position: relative;
}
.images .btn-group {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
}
.images .btn-group a.btn-small {
    padding: 2px 5px;
}
.images .album .album-preview {
    width: 180px;
    height: 180px;
    overflow: hidden;
}
.images li.album .album-details {
    text-align: center;
    padding: 4px 9px;
    color: #999999;
    font-size: 12px;
}
.images li.album .album-details h4 {
    margin: 8px 3px 3px;
    margin: 0 0 3px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.images li.image .image-overlay {
    display: none;
    background: url(/images/cover_shadow.png) bottom left repeat-x; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.images li.image .image-overlay-content {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px 8px;
    color: #ffffff;    
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
}
.images li.image .image-overlay-content h4 {
    font-weight: normal;
    margin-bottom: 4px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #666666;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}
.images li.image .image-overlay-content a {
    color: #ffffff;
}
.images li.image .image-overlay-content .image-overlay-content-bottom {
    height: 20px;
    font-size: 12px;
}
.images .popover {
    width: 600px;
}
.images .popover .popover-content {
    max-height: 200px;
    overflow-y: scroll;
    padding: 0 3px;
}
.images li.object .dropdown-toggle {
    cursor: pointer;
}
.images li.object ul.dropdown-menu li > a {
    font-size: 12px;
    padding: 1px 9px;
    cursor: pointer;
}
.images li.object ul.dropdown-menu li.divider {
    margin: 0 9px;
}
.images .nav-list {
    font-size: 12px;
}
form.form-horizontal ul li.image {
    height: auto;
    margin-bottom: 15px;
}
form.form-horizontal ul li.image .image-container {
    text-align: center;
    width: 180px;
    height: 180px;
}
form.form-horizontal ul li.image img {
    max-height: 180px;
    max-width: 180px;
    width: auto;
}
form.form-horizontal ul li.image textarea {
    border: none;
    border-top: 1px solid #dddddd;
    font-size: 12px;
    resize: none;
}
.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}
.fileinput-button form {
    margin: 0;
}
.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}



/* Events */
table.events {
    border: none;
    margin-bottom: 0;
}
table.events th,
table.events td:first-child {
    border-left: none;
}
table.events th {
    text-align: center;
    font-size: 13px;
}
table.events td {
    height: 80px;
}
table.events .objects {
    padding: 0;
}
table.events .object {
    font-size: 11px;
    line-height: 13px;
    margin-top: 5px;
    padding-top: 5px;
}
table.events .object:first-child {
    margin-top: 0;
    padding-top: 0;
}
.events-sponsored .row {
    margin: 0 -5px;
}
.events-sponsored .event-sponsored-container {
    padding: 0 4px;
}
.events-sponsored .event-sponsored-container  .event-sponsored {
    background: #f7f7f7;
    border: 1px solid #bbbbbb;
    text-align: center;
}
.events-sponsored .event-sponsored .image_box {
    background: #f7f7f7;
    border-bottom: 1px solid #bbbbbb;
}
.events-sponsored .event-sponsored h3 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 2px;
}
.events-sponsored .event-sponsored .event-sponsored-dates .event-sponsored-date {
    color: #777777;
}
.events-sponsored .event-sponsored .event-sponsored-dates .event-sponsored-date .event-sponsored-date-day {
    font-family: "Times New Roman", Times, serif;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1;
}
.events-sponsored .event-sponsored .event-sponsored-dates .event-sponsored-date .event-sponsored-date-location {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 5px 0;

}
@media (min-width: 992px) and (max-width: 1212px) {
    .events-sponsored .event-sponsored h3 {
        font-size: 13px;
    }  
    .events-sponsored .event-sponsored .event-sponsored-dates .event-sponsored-date .event-sponsored-date-day {
        font-size: 22px;
    } 
    .events-sponsored .event-sponsored .event-sponsored-dates .event-sponsored-date .event-sponsored-date-location {
        font-size: 12px;
    
    }
}



/* Tags */
.tag {
    background-color: #fcf3e9;  
    font-weight: normal;  
    color: #555555 !important;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 5px;
    text-overflow: ellipsis;
    border: 1px solid #cccccc;
    margin-right: 5px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
#userTags {
    min-height: 30px;
}
.tag-list .tag {
    cursor: move;
}



/* Fans */
.sidebar .box .fans {
    padding: 11px;
}



/* span checkbox */
span.checkbox {
    display: inline-block;
    width: 13px;
    height: 13px;
    min-height: 13px;
    min-width: 13px;
    border: 1px solid #dddddd;
    margin: 0 5px 0 0;
    padding: 0px;
    vertical-align: -4px;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
}
span.checkbox[checked="true"] {
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
       -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
}
span.checkbox[checked="true"] > span {
    top: -4px !important;
}
span.checkbox[checked="true"] > span:before {
    content: "\e013";
}



/* Relations */
.relations-menu .relation-menu-body {
    min-width: 200px;
    text-align: left;
}
.relations-menu li {
    padding: 0 10px;
}
.relations-menu li a:not(.btn) {
    display: block;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    padding: 0px !important;
    white-space: nowrap;
}
.relations-menu li > a:hover,
.relations-menu li > a:focus {
    background: none;
    color: #990000;
}
.relations-menu li > a:hover span.checkbox,
.relations-menu li > a:focus span.checkbox {
    border-color: #333333;
}



/* iPhone fixies */
@media (max-width: 320px) {
    #header {
        height: 46px;
    } 
}