{% if relatedObjects is not defined %}
    {% set relatedObjects = related_object(post.object, post.objectIds) %}
{% endif %}

 <div class="media">

    <div class="media-body">

        {% for image in relatedObjects|slice(0, 6) %}
            {{ show_img_box(image.getImg|imagine_filter('350'), {'width': 150, 'height': 150, 'box_attributes': {'class': 'pull-left img-thumbnail'}})|raw }}
        {% endfor %}

    </div><!-- END Media Body -->

</div><!-- END Object -->