{% if post.entity.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_PROFILE') %}
    <div class="post-image-container">
        <img src="{{ post.publisher.getImg|imagine_filter('medium') }}" class="img-responsive"/>
    </div>
{% elseif post.entity.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_COVER') %}
    <div class="post-image-container">
        {{ show_img_box(post.publisher.getCoverImg|imagine_filter('medium'), {width: 150, offset: post.publisher.coverImgOffset, box_attributes: {class: 'pull-left img-thumbnail'}}) }}
    </div>
{% elseif post.entity.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_BACKGROUND') %}
    <div class="post-image-container">
        {{ show_img_box(post.publisher.getBackgroundImg|imagine_filter('medium'), {width: 150, box_attributes: {'class': 'pull-left img-thumbnail'}}) }}
    </div>
{% elseif post.entity.type == constant('CM\\CMBundle\\Entity\\ImageAlbum::TYPE_ALBUM') %}
    {{ post.entity }}
{% endif %}