{% extends 'CMBundle::layout.html.twig' %}

{% block body %}

    {{ include('CMBundle:Group:top.html.twig', {'inPage': 'image'}) }}


    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homegroup') ?></li>
      <li><?php echo link_to(__('Groups'), '@group_list') ?></li>
      <li class="active"><?php echo $group ?></li>
    </ul>#}

    {{ include('CMBundle:ImageAlbum:album.html.twig', {'publisher': group, 'publisherType': 'group'}) }}
    

    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'groupFans', array('group' => $group)) ?>
    <?php end_slot() ?>#}
  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('ROLE_USER') and album is defined and can_manage(album) and images|length > 1 %}
        {% javascripts
            'lib/fileupload/js/jquery.fileupload.js'
            'lib/fileupload/js/jquery.fileupload-ui.js'
            'lib/fileupload/js/jquery.iframe-transport.js'
            '@CMBundle/Resources/public/js/images.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}

{#

<div class="box">
    

    
    
    

    
    
    

    
    
    
    <div class="objects">
        <div class="object">
            <?php include_partial('utility/bottom', array('post' => $album)) ?>
        </div>
    </div>
    
</div>



<?php slot('sidebar_slot3') ?>  
    <?php include_component('fan', 'groupFans', array('group' => $group)) ?>
<?php end_slot() ?>#}