{% extends 'CMBundle::layout.html.twig' %}

{% block body %}

    {{ include('CMBundle:Group:top.html.twig', {'inPage': 'article'}) }}

    <div class='box'>
        {{ include('CMBundle:Article:objects.html.twig') }}
    </div>
{% endblock %}