{% extends 'CMBundle::layout.html.twig' %}

{% block title %}
    {{ group }}
{% endblock %}

{% block body %}
    <div class='box'>
        {{ include('CMBundle:Event:objects.html.twig') }}
    </div>
{% endblock %}