{% extends 'CMBundle::layout.html.twig' %}

{% block body %}

    {{ include('CMBundle:Group:top.html.twig', {'inPage': 'image'}) }}


    {#<ul class="breadcrumb">
      <li><?php echo link_to('Home', '@homegroup') ?></li>
      <li><?php echo link_to(__('Groups'), '@group_list') ?></li>
      <li class="active"><?php echo $group ?></li>
    </ul>#}


    {{ include('CMBundle:ImageAlbum:image.html.twig', {'publisher': group, 'publisherType': 'group'}) }}
    

    {#<?php slot('sidebar_slot3') ?>  
        <?php include_component('fan', 'groupFans', array('group' => $group)) ?>
    <?php end_slot() ?>#}
  
{% endblock %}


{#path('', {'slug': group.slug, 'albumSlug': 'profile'})#}