{% extends 'CMBundle:Form:layout.html.twig' %}

{% block body %}
    <div class="member_typeahead">
        <div id="members_finder_container" class="form-group">
            <label class="control-label col-lg-3">Add new member</label>
            <div class="col-lg-9"><input type="text" id="members_finder" class="form-control" /></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language={{ app.request.locale }}"></script>
{% endblock %}

{#<div id="request-dialog" title="{{ 'Invite people to Group'|trans }}" class="dialog">

    <div id="request-dialog-content" class="dialog-content">
        <form action="<?php echo url_for('@group_invite?slug='.$group->getSlug()) ?>" method="post" class="form-ajax">
            <input type="text" class="form-select-peopleAutocomplete" name="invitedPeople" id="invitedPeople">
        </form>
        
        <br /><br />
        <h3><?php echo __('Selected people to invite to group'); ?></h3>
        <div id="selectedPeople"></div>
    
    </div>



    <div id="request-dialog-bottom" class="dialog-bottom">
        <button id="request-dialog-confirm" type='submit' class='dialog-conferma pulsante'><?php echo __('Invite') ?></button>
        <button id="request-dialog-close" class="dialog-close pulsante"><?php echo __('Annulla') ?></button>
    </div>
    
</div>#}