<div class="media">

    {% if post.group.images | length > 0 %}
        {{ show_img_box(post.group.images[0] | imagine_filter('medium'), {'width': 150, 'height': 150, 'link': '', 'link_attributes': {'class': 'pull-left img-thumbnail'}}) | raw }} {# TODO: add image show link #}
    {% endif %}

    <div class="media-body">
    
        <h4><a href="{{ path('group_show', {'id': post.group.id, 'slug': post.group.getSlug}) }}">{{ post.group }}</a></h4>

        {{ post.group.description }}

    </div><!-- END Media Body -->

</div><!-- END Object -->