{% extends 'CMBundle::layout.html.twig' %}

{% block title %}
    {{ user }}
{% endblock %}

{% block bodyHeading %}
    {{ include('CMBundle:User:top.html.twig') }}
{% endblock %}

{% block body %}
    <div class='box'>
        {{ include('CMBundle:Disc:objects.html.twig') }}
    </div>
{% endblock %}