{% extends 'CMBundle::layout.html.twig' %}

{% block heading %}
    {{ include('CMBundle:User:top.html.twig') }}
{% endblock %}

{% block body %}
    <div class="box">

        {% if is_granted('ROLE_CLIENT') and app.user.id == user.id %}<a href="{{ path('imagealbum_new') }}">{{ 'Add a new multimidia'|trans }}</a>{% endif %}

        {{ include('CMBundle:Multimedia:objects.html.twig') }}
    </div>
{% endblock %}