{% extends 'CMBundle::layout.html.twig' %}

{% block bodyHeading %}
    {{ include('CMBundle:User:top.html.twig') }}
{% endblock %}

{% block body %}
    <h2>
        {{ icon('Notification') }}
    </h2>                                                                    

    <div class="objects-container">
        <div class="objects">
            <ul class="media-list">
                {{ include('CMBundle:User:notificationList.html.twig') }}
            </ul>
        </div>
    </div>
{% endblock %}