{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% block title %}{{ 'Pages'|trans }}{% endblock %}

{% block body %}

    <h3>{{ icon('Page') | raw }} <span>{{ block('title') }}</span></h3>    

    {{ include('CMBundle:User:pageObjects.html.twig') }}
  
{% endblock %}