{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% block title %}{{ 'Pages'|trans }}{% endblock %}

{% block body %}

    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Page') }} <span>{{ block('title') }}</span></h2>
        </div>

        <div class="box-body">
            {{ include('CMBundle:User:pageObjects.html.twig') }}
        </div>
    </div>
  
{% endblock %}