{% extends 'CMBundle::layout.html.twig' %}

{% block title %}{{ user }}{% endblock %}
{% set meta = {
    description: biography|short_text({max: 155, stripped: true}),
    image: user|default_img|imagine_filter('full')
} %}


{% block heading %}
    {{ include('CMBundle:User:top.html.twig') }}
{% endblock %}

{% block body %}
    <div class="row" id="wall"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
         '@CMBundle/Resources/public/js/wall.js'
    %}
         <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
