{% extends 'CMBundle:User:accountLayout.html.twig' %}

{% block section %}{{ 'Define yourself'|trans }}{% endblock %}

{% block main %}

    <div class="box">
        <div class="box-heading">
            <h2>{{ icon('Tags') }} {{ block('section') }}</h2>
        </div>

        <div class="box-body">
            {{ form(form) }}
            </form>
        </div>
    </div>
{% endblock %}