/* UTILITY */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px white inset;
}



/* LAYOUT */
.load_more_container {
    overflow-y: scroll;
}
.load_more {
    margin-top: 20px;
    clear: both;
    float: none;
    text-align: center;
}
.load_more a {
    display: block;
}



/* TOGGLE HIDDEN  DATA-TOGGLE */
[data-toggle-hover]:hover [data-toggle]
{
    visibility: visible;
}



/* IMAGE BOX */
.image_box {
    display: block;
    position: relative;
    overflow: hidden;
}
.image_box img 
{ 
    position: absolute;
    top: 0px;
    left: 0px;
}
.image_box.pull-left 
{
    margin-right: 10px;
}



/* ENTITIES */
.box .box-body.entity-assets {
    padding: 14px 9px;
}
.entity-assets .entity-asset {
    float: left;
    margin: 0 5px;
}
/* event */
.event-date-map {
    position: relative;
}
.event-date-map .btn {
    position: absolute;
    right: 10px;
    top: 27px;
}
.event-date-map img {
    border: 1px solid #bbbbbb;
    margin: 0 -15px;
}



/* OBJECT */
.objects {
    position: relative;
}
.object,
.object.object-following {
    margin-top: 15px;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    position: relative;
}
.object:first-child {
    margin-top: 0px;
    border-top: none;
    padding-top: 0px;
}
.object h3 {
    font-size: 18px;
    margin-top: 0px;
}
.object h4 {
    font-size: 14px;
    margin-top: 0px;
}
.objects .caption,
.object .caption {
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 11px;
    line-height: 13px;
}
.object-small {
    margin-top: 8px;
    padding-top: 8px;
}
.object-small h2,
.object-small h3,
.object-small h4 {
    line-height: 20px;
    margin: 0;
}
.object-small p,
.object-small small {
    margin-bottom: 0px;
    line-height: 16px;
}
.object.object-xxlarge h3
{
    font-size: 26px;
    line-height: 28px;
}
.object.object-xxlarge h4
{
    font-size: 16px;
    line-height: 20px;
}
.object.object-xxlarge h5
{
    font-size: 13px;
    line-height: 17px;
}
.object.object-xxlarge .image_box
{
    margin-bottom: 10px;
}
.object.object-detail
{
    border-top: none;
    margin-top: 0px;
    padding-top: 0px;
}
.object.object-detail h3
{
    font-size: 22px;
    line-height: 30px;
    font-variant: small-caps;
}
.object.object-detail p
{
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 8px;
}
.object.object-detail li.bottom-likes
{
  padding: 9px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.object img.img-thumbnail.pull-left {
    margin-right: 8px;
    margin-bottom: 3px;
}
/* Bottom */
.object .bottom
{
    margin: 10px 0 0 0;
    position: relative;
    font-size: 11px;
    line-height: 16px;
}
.object .bottom.well
{
    padding: 5px 9px;
    line-height: 20px;
}
.object .bottom ul.triangle:before
{
  content: '';
  position: absolute;
  left: 10px;
    top: -5px;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #efefef transparent;
    _border-color: #000000 #000000 #efefef #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.object .bottom ul
{
    position: relative;
    clear: both;
}
.object .bottom ul li,
.object .bottom ul li.media
{
    padding: 5px;
    background-color: #f5f5f5;
    margin-top: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.object .bottom ul.triangle {
    margin-top: 8px;
}
/* Bottom comment */
.object .bottom ul li.comment .media-body p
{
    text-align: left;
    margin-bottom: 0px;
}
.object .bottom ul li.comment img
{
    width: 32px;
}
.object .bottom ul li.comment a
{
    font-weight: bold;
}
.object .bottom ul li.comment form
{
    margin-bottom: 0px;
}
.object .bottom ul li.comment form textarea
{
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 16px;
    padding: 5.5px;
    height: 32px;
    resize: none;
    margin-bottom: 0px;
    overflow: hidden;
}
.object .bottom ul li.comment .close
{
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
}
/* Object detail bottom comment */
.object.object-detail .bottom ul li,
.object.object-detail .bottom ul li.media
{
    padding: 10px 0 0;
    border-top: 1px solid #dddddd;
    margin-top: 10px;
    background-color: transparent;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.05);
}
.object.object-detail .bottom ul li:first-child,
.object.object-detail .bottom ul li.media:first-child
{
    border-top: none;
}
.object.object-detail .bottom ul li .text-muted,
.object.object-detail .bottom ul li.media .text-muted
{
    font-weight: normal;
    font-size: 11px;
}
.object.object-detail .bottom ul li.comment img
{
    width: 50px;
}
.object.object-detail .bottom ul li.comment form textarea
{
    height: 50px;
}



/* BOX */
.box-container .nav,
.box .box-heading .nav {
    margin-bottom: 0;
}
.box-container .nav-tabs>.active>a,
.box-container .nav-tabs>.active>a:hover,
.box-container .nav-tabs>.active>a:focus,
.box-container .nav-tabs>li>a:hover, 
.box-container .nav-tabs>li>a:focus {
    border: 1px solid #bbbbbb;
    border-bottom-color: transparent;
    background: #ffffff;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
       -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08), -1px 1px 10px rgba(0, 0, 0, 0.08);
}
.box-container .box {
    margin-top: 0;
    border-top: none;
}
.box {
    color: #404040;
    background: #ffffff;
    border: 1px solid #bbbbbb;
/*     -webkit-box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.1), -5px 2px 10px rgba(0, 0, 0, 0.1); */
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), -1px 1px 5px rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), -1px 1px 5px rgba(0, 0, 0, 0.06);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08), -1px 1px 5px rgba(0, 0, 0, 0.06);
    position: relative;
    margin-top: 20px;
}
.box:first-child {
    margin-top: 0;
}
.box .box-heading {
    background: #f7f7f7;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 5px 14px;
}
.box .box-heading:first-child {
    border-top: none;
}
.box .box-heading.box-heading-big {
    padding: 14px 14px 5px;
}
.box .box-heading.box-heading-big h2 {
    margin-bottom: 9px;
    font-size: 26px;
}
.box .box-heading h2 {
    max-width: 100%;
    margin: 0;
    font-size: 20px;
}
.box .box-heading h2 a, 
.box .box-heading h3 a {
    color: #333333;
}
.box .box-heading h2 span.glyphicon,
.box .box-heading h2 span.glyphicons {
    vertical-align: 1px;
    font-size: 15px;
}
.box .box-heading h2 small {
    font-size: 12px;
    margin-top: 10px;
    float: right;
}
.box .box-heading h2 small span.glyphicon,
.box .box-heading h2 small span.glyphicons {
    font-size: inherit;
}
.box .box-heading h3 {
    line-height: 30px;
    margin: 0;
    font-size: 14px;
}
.box .box-heading h3 small {
    font-size: 12px;
}
.box .box-heading h3 span.glyphicon,
.box .box-heading h3 span.glyphicons {
    vertical-align: baseline;
    font-size: 12px;
}
.box .box-heading .nav li {
    float: left;
    margin-right: 20px;
}
.box .box-heading .nav li a,
.box .box-heading .nav li a:hover,
.box .box-heading .nav li a:focus {
    background: transparent;
    position: relative;
    float: left;
    padding: 0 0 10px;
}
.box .box-heading .nav li.active a:before {
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -10px;
    display: block;
    content: '';
    border-color: transparent transparent #dddddd;
    border-style: solid;
    border-width: 10px;
}
.box .box-heading .nav li.active a:after {
    position: absolute;
    bottom: -6px;
    left: 50%;
    margin-left: -9px;
    display: block;
    content: '';
    border-color: transparent transparent #ffffff;
    border-style: solid;
    border-width: 9px;
}
.box .box-body {
    padding: 14px;
    margin: 0px;
}
.box .box-footer {
    border-top: 1px solid #e5e5e5;
    background-color: #f7f7f7;
    padding: 14px;
    margin: 0;
    -webkit-border-bottom-left-radius: 3px;
       -moz-border-bottom-left-radius: 3px;
            border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
       -moz-border-bottom-right-radius: 3px;
            border-bottom-right-radius: 3px;
}



/* POST */
#wall .box {
    font-size: 13px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
#wall .box a {
    color: #404040;
}
#wall .box a:hover {
    text-decoration: underline;
}
#wall .box .box-heading {
    -webkit-border-top-left-radius: 3px;
       -moz-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
       -moz-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
}
#wall .post .post-heading {
    margin-bottom: 15px;
}
#wall .post .post-heading h4 {
    font-size: 15px;
    margin-bottom: 10px;
}
#wall .post .post-content {
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 10px;
}
#wall .post .post-content a.pull-left {
    margin-right: 15px;
}
#wall .post .post-content a.pull-left > img {
    width: 120px;
}
@media (min-width: 1500px) {
    #wall .post .post-content a.pull-left {
        margin-right: 20px;
    }
    #wall .post .post-content a.pull-left > img {
        width: 150px;
    }
}
#wall .post .post-image-container {
    margin: 0 -14px 10px;
    background: #efefef;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
}
#wall .post .post-image-container img {
    margin: 0 auto;
    max-height: 600px;
}
#wall .post h4 {
    margin: 0;
}
#wall .post:hover,
#wall .box-system .object:hover {
    border-color: #aaaaaa;    
    -webkit-transition: border-color 0.3s;
       -moz-transition: border-color 0.3s;
        -ms-transition: border-color 0.3s;
         -o-transition: border-color 0.3s;
            transition: border-color 0.3s;
}
#wall .post:hover a,
#wall .box-system .object:hover a {
    color: #aa0000;    
    -webkit-transition: color 0.3s;
       -moz-transition: color 0.3s;
        -ms-transition: color 0.3s;
         -o-transition: color 0.3s;
            transition: color 0.3s;
}
#wall .box .box-footer comment {
    margin-top: 10px;
}
#wall .box .box-footer input.comment,
#wall .box .box-footer textarea {
    padding: 6px 10px 4px;
    height: 32px;
    font-size: 13px;
    line-height: 1.4;
}
/* Box System */
#wall .box-system {
    background-color: #f5f5f5;
}
#wall .box-system .box-heading {
    border: none;
    background: transparent;
    margin-top: 10px;
}
#wall .box-system h4 {
    max-height: 38px;
    overflow: hidden;
}
#wall .box-system .object {
    margin-top: 10px;
    padding-top: 10px;
}
#wall .box-system .object:first-child {
    margin-top: 0px;
    padding-top: 0px;
}
/* Box Partner */
#wall .box-partner {
    background-color: #f5f5f5;
    margin-top: 40px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}
#wall .box-partner h2 {
    top: -18px;
    font-size: 15px;
    position: absolute;
    height: 40px;
    width: 100%;
    text-shadow: none;
    text-transform: uppercase;
    padding: 0 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: normal;
}
#wall .box-partner h2 img.img-responsive {
    display: inline;
}
@media (min-width: 1200px) {
    #wall .box-partner h2 {
        top: -23px;
        font-size: 20px;
    }
}
#wall .box-partner h2 small {
    text-transform: none;
    color: #404040;
    font-weight: normal;
}
#wall .box-partner h2 a {
    color: #404040;
}
#wall .box-partner h2.box-partner-logo {
    height: 40px;
    background-repeat: no-repeat;
    text-indent: -90000px;
    top: -22px;
    background-position: 15px top;
}
#wall .box-partner h3 {
    max-height: 50px;
    overflow: hidden;
}
#wall .box-partner h4 {
    max-height: 40px;
    overflow: hidden;
}
#wall .box-partner .box-partner-heading {
    font-size: 16px;
    padding-bottom: 3px;
    border-bottom: 1px solid #bbbbbb;
    margin-bottom: 8px;
    font-family: Georgia,'Times New Roman',serif;
    font-weight: normal;
    position: relative;
    line-height: 18px;
}
#wall .box-partner .box-partner-heading .box-partner-nav {
    position: absolute;
    right: 2px;
    top: 0;
    z-index: 2;
}
#wall .box-partner .box-partner-heading .box-partner-nav .box-partner-nav-tab {
    width: 22px;
    height: 22px;
    border: 1px solid #bbbbbb;
    border-bottom: 1px solid #f5f5f5;
    float: left;
    margin-right: 2px;
    font-size: 12px;
    padding-top: 2px;
    cursor: pointer;
    text-align: center;
    color: #999999;
}                                                       
#wall .box-partner .box-partner-heading .box-partner-nav .box-partner-nav-tab:hover  
{          
    color: #aa0000;
	background-color: #ffffff;                     
	border: 1px solid #999999; 
	border-bottom: 1px solid #ffffff; 
}  
#wall .box-partner .box-body {
    padding: 13px;
}
#wall .box-partner .object {
    max-width: 100%;
    height: 305px;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#wall .box-partner .object a.image_box {
    max-width: 100%;
    margin-bottom: 5px;
}
#wall .box-partner .object h3 {
    font-family: Georgia;
    font-size: 18px;
    margin-bottom: 5px;
}
#wall .box-partner .object h3 a {
    color: #333;
}
#wall .box-partner .object h4 {
    font-size: 13px;
    margin-bottom: 3px;
    color: #999999
}
#wall .box-partner .object h4 > span {
    margin-right: 5px;
}
/* Banner */
#wall .banner {
    margin-top: 20px;
}
/* Post Multimedia */
.post .video-container {   
    position: relative;
}
.post .video-title-container {
    cursor: pointer;
    height: 120px;
    width: 100%;
    position: absolute;
}
.post .video-title-shadow {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.65) 0,rgba(0, 0, 0, 0));
    background-image:    -moz-linear-gradient(top,rgba(0, 0, 0, 0.65) 0,rgba(0, 0, 0, 0));
    background-image:         linear-gradient(top,rgba(0,0,0,.65) 0,transparent);
}
.post .video-title {
    position: absolute;
    z-index: 3;
    width: 100%;
    font-size: 16px;
    padding: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.post .video-button {
    background: no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/stream-c232dce6708c15a206f95e6a941a0409.png) -49px 0;
    cursor: pointer;
    height: 72px;
    left: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    top: 50%;
    width: 72px;
}
.post .video-title a,
.post .video-title a:hover,
#wall .box:hover .video-title a {
    color: #ffffff;
}


/* IMAGES GRID */
.square-images-grid > * {
    display: block;
    float: left;
    overflow: hidden;
}



/* FANS */
.fans
{
    float: left;
    border: none;
    padding: 0px;
}
.fans .fans-count
{
    display: block;
    text-align: center;
    width: 70px;
    line-height: 54px;
    height: 54px;
    margin-top: -28px;
    margin-left: -36px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #bbbbbb;
    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(245, 245, 245, 0.85);
    color: #333333;
}
#fan-top-button
{
    width: 300px; 
    margin: 20px auto;
}
@media (min-width:1200px) {
    .fans .fan-user
    {
        width: 48px;
        height: 48px;
    }
}



/* FILE INPUT */
.btn-file {
    /*position: relative;*/
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}



/* TYPEAHEAD FIXES */
.twitter-typeahead {
    width: 100%;
    position: relative;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width:100%;
    height: 34px;
    position: absolute;
    top:0;
    left:0;
}
.twitter-typeahead .tt-hint {
    color:#a1a1a1;
    z-index: 1;
    padding: 6px 12px;
    border:1px solid transparent;
}
.twitter-typeahead .tt-query {
    z-index: 2;
}

.tt-dropdown-menu {
    min-width: 160px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    margin-top: 2px;
    width: 100%;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.img-rounded {
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}


/* MESSAGES */
#recipients {
    padding: 2px;
    height: auto;
    min-height: 34px;
    overflow: hidden;
    vertical-align: top;
}

.recipient {
    background-color: #fcf3e9;
    border: 1px #d0d3c9 solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    height: 24px;
    padding: 0 5px;
    margin: 2px 2px;
    vertical-align: top;
}

.recipient .close {
    float: none;
}
