html,
body,
#body {
    height: 100%;
    overflow: auto !important;
}
#menu-container {
    margin-bottom: 0;
}
#message-interface {
    background-color: #ffffff;
    border: 1px solid #bbbbbb;
    border-bottom: 0;
    height: 100%;
    min-height: 200px;
}
#conversations {
    height: 100%;
    overflow: hidden;
}
#conversation {
    overflow: hidden;
}
#messages {
    overflow-x: hidden;
    overflow-y: auto;
}
/*#message-new {
    position: absolute;
    bottom: 0px;
}*/
#message-new h3 {
    margin-top: 0;
}
#message-new textarea {
    resize: none;
}
#message-new .form-group {
    margin-bottom: 0;
}