{% extends 'CMBundle::layout.html.twig' %}

{% block title %}
    {{ "Discs"|trans }}
{% endblock %}



{% block body %}
    <div class="row">
        <div class="col-lg-5">
            <h2>{{ block('title') }}</h2>
        </div>
    </div>
    
    <div class='box'>
        {{ include('CMBundle:Disc:objects.html.twig') }}
    </div>
{% endblock %}